:root{
    --main-color : #0057b8; 
    --margin-color : #e9ebee;
    --margin-gray : #e9ebee;
    --gray-color : #e9ebee;
    --wrapper-color : white;
    --highlight-color : white;
    --highlight-background-color : var(--main-color);
    --outstanding-color : orangered;
    --shadow-color : black;
}
#main{
    display: grid;
    grid-template-columns: repeat(6,200px);
    grid-template-rows: repeat(3,200px);
    column-gap: 10px;
    row-gap: 20px;
}
#LeftAdvert{
    margin-left: 1rem;
    grid-area: 1/1/span 3/span 1;
    background-color: var(--main-color);
    color: var(--highlight-color);
}
#LeftAdvert h1{
    writing-mode: vertical-rl;
    margin: auto;
    margin-top: 50%;
}
#context{
    margin-left: 1rem;
    grid-area: 1/2/span 1/span 5;
    color: var(--main-color);
    line-height: 2rem;
}
#animatedLogo{
    margin-top: 2rem;
    text-align: center;
    grid-area: 2/2/span 1/span 5;
}
#context p{
    margin-top: 1rem;
}
